.row-header{
 margin:30px auto;
 padding:0px auto;
 background-color: #CCEEff;
 color:blue;
}
.row-footer{
 background-color:#CCEEff;

}
.form{
 border:2px lightblue solid;
 padding:10px 10px 10px 10px;
}
.bkclr-blue{
background-color:lightblue;
}
.lightblue{
 background-color:lightblue;
 margin:-8px;
}

body{
  font-family:Palatino;
}
/* The Close Button */
.addbtn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.addbtn:hover,
.addbtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}